*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(245,222,179) ;
}

.slider {
    width: 800px;
    height: 500px;
    position: relative;




}
.slider img {
    width: 100%;
    height: 100%;
    border-radius: 7px;
}
.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 10px;

}
.buttons i {
    font-size: 1.8rem;
    color: gray;
}

.buttons i:hover {
   color: white;
}